* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    --bg-color: whitesmoke;
    --font-color: #111010;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.card {
    height: 100vh;
    flex-direction: column;
}

#circular-progress-bar {
    --percent: 0;
    --no-of-colors: 4;
    --color-degree: calc((var(--percent) / var(--no-of-colors)) * 3.6deg);
    background: conic-gradient(crimson var(--color-degree),
            yellow calc(var(--color-degree) * 2),
            orange calc(var(--color-degree) * 3),
            crimson calc(var(--color-degree) * 4),
            var(--bg-color) 0deg);
    min-width: 240px;
    width: 20%;
    max-width: 800px;
    padding: .5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.progress {
    background-color: var(--bg-color);
    border: 1px solid var(--font-color);
    border-radius: inherit;
    aspect-ratio: inherit;
}

.progressValue {
    font-size: 3em;
}

.progressValue,
#randomBtn {
    font-family: Roboto, Tahoma, monospace;
}

#randomBtn {
    border: .1em solid;
    color: inherit;
    background-color: inherit;
    padding: .3em .5em;
    border-radius: 1em;
    font-size: 1.5em;
    margin: 2em auto;
    cursor: pointer;
    transition: all .4s linear;
}

#randomBtn:hover {
    border: none;
    box-shadow: 0 0 5px 1px var(--font-color);
    color: transparent;
    font-weight: bold;
    background: linear-gradient(45deg, red, orange, yellow, green);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

#randomBtn:active {
    pointer-events: auto;
}

@media (prefers-color-scheme:dark) {
    :root {
        --bg-color: #111010;
        --font-color: whitesmoke;
    }
}